.building_panel_wrapper {
  width: 75vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(208, 65, 65);

  .building_panel_container {
    background-color: rgb(168, 168, 168);
    // width: 98%;
    height: 100%;
  }
}
