.control_panel_wrapper {
  width: 30vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(243, 242, 242);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 100;
  overflow-y: scroll;

  .control_panel_container {
    padding: 10px;
    height: 90%;
  }
}
